@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100dvh;
    overflow-x: hidden;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
